table,
td {
  border: solid 1px #000;
  font-size: 18px;
  text-align: center;
}

.table-colors {
  width: 400px;
  height: 320px;
}

.table-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-title {
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
}

.imagem-container {
  position: fixed;                 
  bottom: 0;                
  left: 0;
  width: 100%;
  height: 80px;
  background-image: url("./img/1330892.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 80px auto;
}
